In [1]:
import os
import sqlalchemy as sa
from sqlalchemy import create_engine
import pandas as pd
import json
path="pulse/data/aggregated/transaction/country/india/state/"
Agg_state_list=os.listdir(path)
Agg_state_list

['andaman-&-nicobar-islands',
 'andhra-pradesh',
 'arunachal-pradesh',
 'assam',
 'bihar',
 'chandigarh',
 'chhattisgarh',
 'dadra-&-nagar-haveli-&-daman-&-diu',
 'delhi',
 'goa',
 'gujarat',
 'haryana',
 'himachal-pradesh',
 'jammu-&-kashmir',
 'jharkhand',
 'karnataka',
 'kerala',
 'ladakh',
 'lakshadweep',
 'madhya-pradesh',
 'maharashtra',
 'manipur',
 'meghalaya',
 'mizoram',
 'nagaland',
 'odisha',
 'puducherry',
 'punjab',
 'rajasthan',
 'sikkim',
 'tamil-nadu',
 'telangana',
 'tripura',
 'uttar-pradesh',
 'uttarakhand',
 'west-bengal']

In [2]:
#Once created the clone of GIT-HUB repository then,
#Required libraries for the program


#This is to direct the path to get the data as states

path_trans="pulse/data/aggregated/transaction/country/india/state/"
Agg_state_list=os.listdir(path_trans)
Agg_state_list
#Agg_state_list--> to get the list of states in India

#<------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------>#

#This is to extract the data's to create a dataframe

clm={'State':[], 'Year':[],'Quater':[],'Transacion_type':[], 'Transacion_count':[], 'Transacion_amount':[]}

for i in Agg_state_list:
    p_i=path_trans+i+"/"
    Agg_yr=os.listdir(p_i)
    for j in Agg_yr:
        p_j=p_i+j+"/"
        Agg_yr_list=os.listdir(p_j)
        for k in Agg_yr_list:
            p_k=p_j+k
            Data=open(p_k,'r')
            D=json.load(Data)
            for z in D['data']['transactionData']:
              Name=z['name']
              count=z['paymentInstruments'][0]['count']
              amount=z['paymentInstruments'][0]['amount']
              clm['Transacion_type'].append(Name)
              clm['Transacion_count'].append(count)
              clm['Transacion_amount'].append(amount)
              clm['State'].append(i)
              clm['Year'].append(j)
              clm['Quater'].append(int(k.strip('.json')))
#Succesfully created a dataframe
Agg_Trans=pd.DataFrame(clm)

In [3]:
state=dict(State=Agg_Trans['State'],T_count=Agg_Trans['Transacion_count'])

In [4]:
state_df=pd.DataFrame(state)

In [5]:
distinct_df = state_df.drop_duplicates()
distinct_df.reset_index(drop=True, inplace=True)

In [6]:
distinct_df.to_csv("S.csv")

In [7]:
Agg_Trans['State'].unique()

array(['andaman-&-nicobar-islands', 'andhra-pradesh', 'arunachal-pradesh',
       'assam', 'bihar', 'chandigarh', 'chhattisgarh',
       'dadra-&-nagar-haveli-&-daman-&-diu', 'delhi', 'goa', 'gujarat',
       'haryana', 'himachal-pradesh', 'jammu-&-kashmir', 'jharkhand',
       'karnataka', 'kerala', 'ladakh', 'lakshadweep', 'madhya-pradesh',
       'maharashtra', 'manipur', 'meghalaya', 'mizoram', 'nagaland',
       'odisha', 'puducherry', 'punjab', 'rajasthan', 'sikkim',
       'tamil-nadu', 'telangana', 'tripura', 'uttar-pradesh',
       'uttarakhand', 'west-bengal'], dtype=object)

In [8]:

# Define the path to the directory containing the data
path_user = "pulse/data/aggregated/user/country/india/state/"

# Get the list of states from the directory
Agg_state_list = os.listdir(path_user)

# Initialize a dictionary to collect your data
clu = {'State': [], 'Year': [], 'Quarter': [], 'Brands': [], 'Count': [], 'Percentage': []}

# Process each state directory
for i in Agg_state_list:
    state_path = os.path.join(path_user, i)
    year_list = os.listdir(state_path)
    
    for j in year_list:
        year_path = os.path.join(state_path, j)
        quarter_files = os.listdir(year_path)
        
        for k in quarter_files:
            file_path = os.path.join(year_path, k)
            
            # Open and read the JSON file
            try:
                with open(file_path, 'r') as file:
                    data = json.load(file)
                    
                    # Check if 'data' and 'usersByDevice' keys exist
                    if data and "data" in data and "usersByDevice" in data["data"]:
                        for z in data["data"]["usersByDevice"]:
                            clu['State'].append(i)
                            clu['Year'].append(j)
                            clu['Quarter'].append(int(k.strip('.json')))
                            clu['Brands'].append(z['brand'])
                            clu['Count'].append(z['count'])
                            clu['Percentage'].append(z['percentage'])
                    else:
                        print(f"Data missing or 'usersByDevice' is None in file {file_path}")
            except json.JSONDecodeError:
                print(f"JSON decode error in file {file_path}")
            except FileNotFoundError:
                print(f"File not found: {file_path}")
            except Exception as e:
                #print(f"An error occurred while reading {file_path}: {e}")
                continue

# Create a DataFrame from the collected data
Agg_User = pd.DataFrame(clu)
print(Agg_User)

                          State  Year  Quarter   Brands    Count  Percentage
0     andaman-&-nicobar-islands  2018        1   Xiaomi     1665    0.247033
1     andaman-&-nicobar-islands  2018        1  Samsung     1445    0.214392
2     andaman-&-nicobar-islands  2018        1     Vivo      982    0.145697
3     andaman-&-nicobar-islands  2018        1     Oppo      501    0.074332
4     andaman-&-nicobar-islands  2018        1  OnePlus      332    0.049258
...                         ...   ...      ...      ...      ...         ...
6727                west-bengal  2022        1   Lenovo   330017    0.015056
6728                west-bengal  2022        1  Infinix   284678    0.012987
6729                west-bengal  2022        1     Asus   280347    0.012790
6730                west-bengal  2022        1    Apple   277752    0.012671
6731                west-bengal  2022        1   Others  2196334    0.100199

[6732 rows x 6 columns]

In [9]:
path_map = "pulse/data/map/transaction/hover/country/india/state/"
Agg_map_list = os.listdir(path_map)

clmap={'state':[], 'Year': [], 'Quarter': [], 'District': [], 'Count': [],
            'Amount': []}

for i in Agg_map_list:
    p_i=path_map+i+"/"
    Agg_yr=os.listdir(p_i)
    for j in Agg_yr:
        p_j=p_i+j+"/"
        Agg_yr_list=os.listdir(p_j)
        for k in Agg_yr_list:
            p_k=p_j+k
            Data=open(p_k,'r')
            M=json.load(Data)
            try:
             for z in M['data']['hoverDataList']:
                district=z['name']
                count=z['metric'][0]['count']
                amount=z['metric'][0]['amount']
                clmap['state'].append(i)
                clmap['District'].append(district)
                clmap['Quarter'].append(int(k.strip('.json')))
                clmap['Year'].append(j)
                clmap['Amount'].append(amount)
                clmap['Count'].append(count)
            except json.JSONDecodeError:
                print(f"JSON decode error in file {file_path}")
            except FileNotFoundError:
                print(f"File not found: {file_path}")
            except Exception as e:
                #print(f"An error occurred while reading {file_path}: {e}")
                continue
map_trans=pd.DataFrame(clmap)

In [10]:
map_trans

,state,Year,Quarter,District,Count,Amount
0,andaman-&-nicobar-islands,2018,1,north and middle andaman district,442,9.316631e+05
1,andaman-&-nicobar-islands,2018,1,south andaman district,5688,1.256025e+07
2,andaman-&-nicobar-islands,2018,1,nicobars district,528,1.139849e+06
3,andaman-&-nicobar-islands,2018,2,north and middle andaman district,825,1.317863e+06
4,andaman-&-nicobar-islands,2018,2,south andaman district,9395,2.394824e+07
...,...,...,...,...,...,...
17559,west-bengal,2023,4,nadia district,36242432,6.879568e+10
17560,west-bengal,2023,4,birbhum district,20708496,3.690499e+10
17561,west-bengal,2023,4,purba medinipur district,40572042,7.981990e+10
17562,west-bengal,2023,4,maldah district,34654950,6.416729e+10
17563,west-bengal,2023,4,darjiling district,16807885,2.793986e+10

In [11]:
path_muser = "pulse/data/map/user/hover/country/india/state/"
Agg_map_list = os.listdir(path_muser)

clmu= {"State": [], "Year": [], "Quarter": [], "District": [],
            "RegisteredUser": [], "AppOpens": []}

for i in Agg_map_list:
    p_i=path_muser+i+"/"
    Agg_yr=os.listdir(p_i)
    for j in Agg_yr:
        p_j=p_i+j+"/"
        Agg_yr_list=os.listdir(p_j)
        for k in Agg_yr_list:
            p_k=p_j+k
            Data=open(p_k,'r')
            MU=json.load(Data)
           # print(MU)
            for z in MU['data']['hoverData'].items():
                district=z[0]
                registereduser = z[1]["registeredUsers"]
                appOpens = z[1]['appOpens']
                clmu['State'].append(i)
                clmu['District'].append(district)
                clmu['Quarter'].append(int(k.strip('.json')))
                clmu['Year'].append(j)
                clmu["RegisteredUser"].append(registereduser)
                clmu["AppOpens"].append(appOpens)
         
map_user=pd.DataFrame(clmap)

In [12]:
map_user

,state,Year,Quarter,District,Count,Amount
0,andaman-&-nicobar-islands,2018,1,north and middle andaman district,442,9.316631e+05
1,andaman-&-nicobar-islands,2018,1,south andaman district,5688,1.256025e+07
2,andaman-&-nicobar-islands,2018,1,nicobars district,528,1.139849e+06
3,andaman-&-nicobar-islands,2018,2,north and middle andaman district,825,1.317863e+06
4,andaman-&-nicobar-islands,2018,2,south andaman district,9395,2.394824e+07
...,...,...,...,...,...,...
17559,west-bengal,2023,4,nadia district,36242432,6.879568e+10
17560,west-bengal,2023,4,birbhum district,20708496,3.690499e+10
17561,west-bengal,2023,4,purba medinipur district,40572042,7.981990e+10
17562,west-bengal,2023,4,maldah district,34654950,6.416729e+10
17563,west-bengal,2023,4,darjiling district,16807885,2.793986e+10

In [13]:
path_top = "pulse/data/top/transaction/country/india/state/"
top_trans_list = os.listdir(path_top)
cltop = {'State': [], 'Year': [], 'Quarter': [], 'Pincode': [], 'Transaction_count': [],
            'Transaction_amount': []}

for i in top_trans_list:
    cur_state = path_top + i + "/"
    top_year_list = os.listdir(cur_state)
    
    for j in top_year_list:
        cur_year = cur_state + j + "/"
        top_file_list = os.listdir(cur_year)
        
        for k in top_file_list:
            cur_file = cur_year + k
            data = open(cur_file, 'r')
            top = json.load(data)
            
            for z in top['data']['pincodes']:
                name = z['entityName']
                count = z['metric']['count']
                amount = z['metric']['amount']
                cltop['Pincode'].append(name)
                cltop['Transaction_count'].append(count)
                cltop['Transaction_amount'].append(amount)
                cltop['State'].append(i)
                cltop['Year'].append(j)
                cltop['Quarter'].append(int(k.strip('.json')))
df_top_trans = pd.DataFrame(cltop)

In [14]:
stae=df_top_trans['State']

In [15]:
path_tuser = "pulse/data/top/user/country/india/state/"
top_user_list = os.listdir(path_tuser)
cltu = {'State': [], 'Year': [], 'Quarter': [], 'Pincode': [],
            'RegisteredUsers': []}

for i in top_user_list:
    cur_state = path_tuser + i+ "/"
    top_year_list = os.listdir(cur_state)
    
    for j in top_year_list:
        cur_year = cur_state + j + "/"
        top_file_list = os.listdir(cur_year)
        
        for k in top_file_list:
            cur_file = cur_year + k
            data = open(cur_file, 'r')
            F = json.load(data)
            
            for z in F['data']['pincodes']:
                name = z['name']
                registeredUsers = z['registeredUsers']
                cltu['Pincode'].append(name)
                cltu['RegisteredUsers'].append(registeredUsers)
                cltu['State'].append(i)
                cltu['Year'].append(j)
                cltu['Quarter'].append(int(k.strip('.json')))
df_top_user = pd.DataFrame(cltu)

In [16]:
df_top_user

                          State  Year  Quarter Pincode  RegisteredUsers
0     andaman-&-nicobar-islands  2018        1  744103             1608
1     andaman-&-nicobar-islands  2018        1  744101             1108
2     andaman-&-nicobar-islands  2018        1  744105             1075
3     andaman-&-nicobar-islands  2018        1  744102             1006
4     andaman-&-nicobar-islands  2018        1  744104              272
...                         ...   ...      ...     ...              ...
8563                west-bengal  2023        4  700015           126663
8564                west-bengal  2023        4  742304           123320
8565                west-bengal  2023        4  721101           123088
8566                west-bengal  2023        4  700150           119283
8567                west-bengal  2023        4  700091           118578

[8568 rows x 5 columns]

In [2]:
import mysql.connector 
mydb = mysql.connector.connect(host="localhost",
                   user="root",
                   password="",
                   database= "Pulse_Phonepe"
                  )
mycursor = mydb.cursor(buffered=True)

In [24]:
mycursor.execute("create table map_trans  (State varchar(100), Year int, Quarter int, District varchar(100), Count int, Amount double)")

for i,row in map_trans.iterrows():
    sql = "INSERT INTO map_trans VALUES (%s,%s,%s,%s,%s,%s)"
    mycursor.execute(sql, tuple(row))
    mydb.commit()

In [28]:
mycursor.execute("create table if not exists  map_Users(State varchar(100), Year int, Quarter int, District varchar(100), Registered_user int, App_opens int)")

for i,row in map_user.iterrows():
    sql = "INSERT INTO map_Users VALUES (%s,%s,%s,%s,%s,%s)"
    mycursor.execute(sql, tuple(row))
    mydb.commit()

In [29]:
mycursor.execute("create table if not exists top_user (State varchar(100), Year int, Quarter int, Pincode int, Registered_users int)")

for i,row in df_top_user.iterrows():
    sql = "INSERT INTO top_user VALUES (%s,%s,%s,%s,%s)"
    mycursor.execute(sql, tuple(row))
    mydb.commit()

In [30]:

engine = create_engine("mysql+mysqlconnector://root:""@localhost/Pulse_phonePe")

In [31]:
df_top_trans.to_sql(name='top_trans', con=engine, if_exists='append', index=False)

8567

In [32]:
try:
    Agg_Trans.to_sql(name='Agg_trans', con=engine, if_exists='append', index=False)
except Exception as e:
    print(e)

C:\Users\visha\AppData\Local\Temp\ipykernel_11356\337848290.py:2: UserWarning: The provided table name 'Agg_trans' is not found exactly as such in the database after writing the table, possibly due to case sensitivity issues. Consider using lower case table names.
  Agg_Trans.to_sql(name='Agg_trans', con=engine, if_exists='append', index=False)

In [33]:
Agg_User.to_sql(name='Agg_User', con=engine, if_exists='append', index=False)

C:\Users\visha\AppData\Local\Temp\ipykernel_11356\3538005870.py:1: UserWarning: The provided table name 'Agg_User' is not found exactly as such in the database after writing the table, possibly due to case sensitivity issues. Consider using lower case table names.
  Agg_User.to_sql(name='Agg_User', con=engine, if_exists='append', index=False)

6732

In [35]:
mycursor.execute("show tables")
mycursor.fetchall()

[('agg_trans',),
 ('agg_user',),
 ('map_trans',),
 ('map_users',),
 ('top_trans',),
 ('top_user',)]

In [36]:
mycursor.execute("select * from top_trans where Transaction_count>20080")

d=mycursor.fetchall()
d_df=pd.DataFrame(d)

In [37]:
mycursor.execute("Select State,(Transaction_count) from top_trans")
mycursor.fetchall()

[('andaman-&-nicobar-islands', 1622),
 ('andaman-&-nicobar-islands', 1223),
 ('andaman-&-nicobar-islands', 969),
 ('andaman-&-nicobar-islands', 685),
 ('andaman-&-nicobar-islands', 340),
 ('andaman-&-nicobar-islands', 302),
 ('andaman-&-nicobar-islands', 283),
 ('andaman-&-nicobar-islands', 269),
 ('andaman-&-nicobar-islands', 193),
 ('andaman-&-nicobar-islands', 168),
 ('andaman-&-nicobar-islands', 2701),
 ('andaman-&-nicobar-islands', 1965),
 ('andaman-&-nicobar-islands', 1525),
 ('andaman-&-nicobar-islands', 997),
 ('andaman-&-nicobar-islands', 767),
 ('andaman-&-nicobar-islands', 659),
 ('andaman-&-nicobar-islands', 594),
 ('andaman-&-nicobar-islands', 432),
 ('andaman-&-nicobar-islands', 405),
 ('andaman-&-nicobar-islands', 291),
 ('andaman-&-nicobar-islands', 3462),
 ('andaman-&-nicobar-islands', 3182),
 ('andaman-&-nicobar-islands', 2224),
 ('andaman-&-nicobar-islands', 1613),
 ('andaman-&-nicobar-islands', 1029),
 ('andaman-&-nicobar-islands', 975),
 ('andaman-&-nicobar-islands', 579),
 ('andaman-&-nicobar-islands', 547),
 ('andaman-&-nicobar-islands', 417),
 ('andaman-&-nicobar-islands', 341),
 ('andaman-&-nicobar-islands', 4674),
 ('andaman-&-nicobar-islands', 4576),
 ('andaman-&-nicobar-islands', 3306),
 ('andaman-&-nicobar-islands', 2513),
 ('andaman-&-nicobar-islands', 1432),
 ('andaman-&-nicobar-islands', 1225),
 ('andaman-&-nicobar-islands', 928),
 ('andaman-&-nicobar-islands', 759),
 ('andaman-&-nicobar-islands', 747),
 ('andaman-&-nicobar-islands', 702),
 ('andaman-&-nicobar-islands', 5742),
 ('andaman-&-nicobar-islands', 5156),
 ('andaman-&-nicobar-islands', 3925),
 ('andaman-&-nicobar-islands', 3553),
 ('andaman-&-nicobar-islands', 2833),
 ('andaman-&-nicobar-islands', 1511),
 ('andaman-&-nicobar-islands', 1112),
 ('andaman-&-nicobar-islands', 1029),
 ('andaman-&-nicobar-islands', 920),
 ('andaman-&-nicobar-islands', 802),
 ('andaman-&-nicobar-islands', 6142),
 ('andaman-&-nicobar-islands', 5847),
 ('andaman-&-nicobar-islands', 4863),
 ('andaman-&-nicobar-islands', 4120),
 ('andaman-&-nicobar-islands', 3500),
 ('andaman-&-nicobar-islands', 1153),
 ('andaman-&-nicobar-islands', 1124),
 ('andaman-&-nicobar-islands', 1047),
 ('andaman-&-nicobar-islands', 1007),
 ('andaman-&-nicobar-islands', 763),
 ('andaman-&-nicobar-islands', 5680),
 ('andaman-&-nicobar-islands', 5606),
 ('andaman-&-nicobar-islands', 4786),
 ('andaman-&-nicobar-islands', 3643),
 ('andaman-&-nicobar-islands', 3512),
 ('andaman-&-nicobar-islands', 1417),
 ('andaman-&-nicobar-islands', 1402),
 ('andaman-&-nicobar-islands', 1118),
 ('andaman-&-nicobar-islands', 914),
 ('andaman-&-nicobar-islands', 833),
 ('andaman-&-nicobar-islands', 6633),
 ('andaman-&-nicobar-islands', 5282),
 ('andaman-&-nicobar-islands', 4840),
 ('andaman-&-nicobar-islands', 3528),
 ('andaman-&-nicobar-islands', 3237),
 ('andaman-&-nicobar-islands', 1783),
 ('andaman-&-nicobar-islands', 1596),
 ('andaman-&-nicobar-islands', 1549),
 ('andaman-&-nicobar-islands', 886),
 ('andaman-&-nicobar-islands', 777),
 ('andaman-&-nicobar-islands', 11793),
 ('andaman-&-nicobar-islands', 5870),
 ('andaman-&-nicobar-islands', 4635),
 ('andaman-&-nicobar-islands', 3820),
 ('andaman-&-nicobar-islands', 1837),
 ('andaman-&-nicobar-islands', 1819),
 ('andaman-&-nicobar-islands', 1794),
 ('andaman-&-nicobar-islands', 1302),
 ('andaman-&-nicobar-islands', 1157),
 ('andaman-&-nicobar-islands', 1043),
 ('andaman-&-nicobar-islands', 11868),
 ('andaman-&-nicobar-islands', 10035),
 ('andaman-&-nicobar-islands', 9341),
 ('andaman-&-nicobar-islands', 6012),
 ('andaman-&-nicobar-islands', 3722),
 ('andaman-&-nicobar-islands', 2555),
 ('andaman-&-nicobar-islands', 2275),
 ('andaman-&-nicobar-islands', 2045),
 ('andaman-&-nicobar-islands', 1847),
 ('andaman-&-nicobar-islands', 1840),
 ('andaman-&-nicobar-islands', 24386),
 ('andaman-&-nicobar-islands', 21272),
 ('andaman-&-nicobar-islands', 17166),
 ('andaman-&-nicobar-islands', 13934),
 ('andaman-&-nicobar-islands', 5779),
 ('andaman-&-nicobar-islands', 4753),
 ('andaman-&-nicobar-islands', 3468),
 ('andaman-&-nicobar-islands', 3422),
 ('andaman-&-nicobar-islands', 3071),
 ('andaman-&-nicobar-islands', 2991),
 ('andaman-&-nicobar-islands', 46884),
 ('andaman-&-nicobar-islands', 40392),
 ('andaman-&-nicobar-islands', 34410),
 ('andaman-&-nicobar-islands', 26694),
 ('andaman-&-nicobar-islands', 10949),
 ('andaman-&-nicobar-islands', 9743),
 ('andaman-&-nicobar-islands', 7654),
 ('andaman-&-nicobar-islands', 7016),
 ('andaman-&-nicobar-islands', 5118),
 ('andaman-&-nicobar-islands', 5011),
 ('andaman-&-nicobar-islands', 55726),
 ('andaman-&-nicobar-islands', 47328),
 ('andaman-&-nicobar-islands', 35467),
 ('andaman-&-nicobar-islands', 23957),
 ('andaman-&-nicobar-islands', 10648),
 ('andaman-&-nicobar-islands', 10597),
 ('andaman-&-nicobar-islands', 8848),
 ('andaman-&-nicobar-islands', 8799),
 ('andaman-&-nicobar-islands', 7113),
 ('andaman-&-nicobar-islands', 5630),
 ('andaman-&-nicobar-islands', 73334),
 ('andaman-&-nicobar-islands', 66321),
 ('andaman-&-nicobar-islands', 52645),
 ('andaman-&-nicobar-islands', 34289),
 ('andaman-&-nicobar-islands', 16476),
 ('andaman-&-nicobar-islands', 14524),
 ('andaman-&-nicobar-islands', 11278),
 ('andaman-&-nicobar-islands', 10182),
 ('andaman-&-nicobar-islands', 9635),
 ('andaman-&-nicobar-islands', 8463),
 ('andaman-&-nicobar-islands', 116324),
 ('andaman-&-nicobar-islands', 84790),
 ('andaman-&-nicobar-islands', 67257),
 ('andaman-&-nicobar-islands', 43850),
 ('andaman-&-nicobar-islands', 19088),
 ('andaman-&-nicobar-islands', 16203),
 ('andaman-&-nicobar-islands', 14657),
 ('andaman-&-nicobar-islands', 11565),
 ('andaman-&-nicobar-islands', 11553),
 ('andaman-&-nicobar-islands', 9655),
 ('andaman-&-nicobar-islands', 165719),
 ('andaman-&-nicobar-islands', 121613),
 ('andaman-&-nicobar-islands', 95028),
 ('andaman-&-nicobar-islands', 58258),
 ('andaman-&-nicobar-islands', 27938),
 ('andaman-&-nicobar-islands', 25662),
 ('andaman-&-nicobar-islands', 21913),
 ('andaman-&-nicobar-islands', 21397),
 ('andaman-&-nicobar-islands', 18915),
 ('andaman-&-nicobar-islands', 14553),
 ('andaman-&-nicobar-islands', 209941),
 ('andaman-&-nicobar-islands', 157230),
 ('andaman-&-nicobar-islands', 122716),
 ('andaman-&-nicobar-islands', 74883),
 ('andaman-&-nicobar-islands', 32471),
 ('andaman-&-nicobar-islands', 30272),
 ('andaman-&-nicobar-islands', 25379),
 ('andaman-&-nicobar-islands', 24022),
 ('andaman-&-nicobar-islands', 23471),
 ('andaman-&-nicobar-islands', 17630),
 ('andaman-&-nicobar-islands', 252722),
 ('andaman-&-nicobar-islands', 230746),
 ('andaman-&-nicobar-islands', 176252),
 ('andaman-&-nicobar-islands', 101551),
 ('andaman-&-nicobar-islands', 47069),
 ('andaman-&-nicobar-islands', 40245),
 ('andaman-&-nicobar-islands', 36402),
 ('andaman-&-nicobar-islands', 32548),
 ('andaman-&-nicobar-islands', 27750),
 ('andaman-&-nicobar-islands', 26170),
 ('andaman-&-nicobar-islands', 497273),
 ('andaman-&-nicobar-islands', 259994),
 ('andaman-&-nicobar-islands', 213864),
 ('andaman-&-nicobar-islands', 208055),
 ('andaman-&-nicobar-islands', 114416),
 ('andaman-&-nicobar-islands', 40466),
 ('andaman-&-nicobar-islands', 38350),
 ('andaman-&-nicobar-islands', 37918),
 ('andaman-&-nicobar-islands', 29918),
 ('andaman-&-nicobar-islands', 27668),
 ('andaman-&-nicobar-islands', 684366),
 ('andaman-&-nicobar-islands', 304600),
 ('andaman-&-nicobar-islands', 258097),
 ('andaman-&-nicobar-islands', 243494),
 ('andaman-&-nicobar-islands', 134923),
 ('andaman-&-nicobar-islands', 56491),
 ('andaman-&-nicobar-islands', 54192),
 ('andaman-&-nicobar-islands', 46364),
 ('andaman-&-nicobar-islands', 34689),
 ('andaman-&-nicobar-islands', 33669),
 ('andaman-&-nicobar-islands', 503053),
 ('andaman-&-nicobar-islands', 418090),
 ('andaman-&-nicobar-islands', 403456),
 ('andaman-&-nicobar-islands', 222855),
 ('andaman-&-nicobar-islands', 118286),
 ('andaman-&-nicobar-islands', 107424),
 ('andaman-&-nicobar-islands', 92715),
 ('andaman-&-nicobar-islands', 76246),
 ('andaman-&-nicobar-islands', 59440),
 ('andaman-&-nicobar-islands', 55605),
 ('andaman-&-nicobar-islands', 597774),
 ('andaman-&-nicobar-islands', 507585),
 ('andaman-&-nicobar-islands', 486154),
 ('andaman-&-nicobar-islands', 269165),
 ('andaman-&-nicobar-islands', 134785),
 ('andaman-&-nicobar-islands', 114795),
 ('andaman-&-nicobar-islands', 106510),
 ('andaman-&-nicobar-islands', 89784),
 ('andaman-&-nicobar-islands', 72315),
 ('andaman-&-nicobar-islands', 63841),
 ('andaman-&-nicobar-islands', 697625),
 ('andaman-&-nicobar-islands', 594280),
 ('andaman-&-nicobar-islands', 561910),
 ('andaman-&-nicobar-islands', 301979),
 ('andaman-&-nicobar-islands', 144283),
 ('andaman-&-nicobar-islands', 126430),
 ('andaman-&-nicobar-islands', 122188),
 ('andaman-&-nicobar-islands', 102093),
 ('andaman-&-nicobar-islands', 81233),
 ('andaman-&-nicobar-islands', 72307),
 ('andaman-&-nicobar-islands', 817988),
 ('andaman-&-nicobar-islands', 687868),
 ('andaman-&-nicobar-islands', 665217),
 ('andaman-&-nicobar-islands', 343773),
 ('andaman-&-nicobar-islands', 208914),
 ('andaman-&-nicobar-islands', 180753),
 ('andaman-&-nicobar-islands', 150575),
 ('andaman-&-nicobar-islands', 121589),
 ('andaman-&-nicobar-islands', 92294),
 ('andaman-&-nicobar-islands', 91113),
 ('andhra-pradesh', 110496),
 ('andhra-pradesh', 96883),
 ('andhra-pradesh', 92754),
 ('andhra-pradesh', 88132),
 ('andhra-pradesh', 84644),
 ('andhra-pradesh', 82421),
 ('andhra-pradesh', 81891),
 ('andhra-pradesh', 69581),
 ('andhra-pradesh', 68340),
 ('andhra-pradesh', 68193),
 ('andhra-pradesh', 165506),
 ('andhra-pradesh', 140893),
 ('andhra-pradesh', 129798),
 ('andhra-pradesh', 127731),
 ('andhra-pradesh', 123176),
 ('andhra-pradesh', 114806),
 ('andhra-pradesh', 111874),
 ('andhra-pradesh', 100630),
 ('andhra-pradesh', 96619),
 ('andhra-pradesh', 93442),
 ('andhra-pradesh', 1300146),
 ('andhra-pradesh', 421968),
 ('andhra-pradesh', 296154),
 ('andhra-pradesh', 295403),
 ('andhra-pradesh', 276595),
 ('andhra-pradesh', 234494),
 ('andhra-pradesh', 233347),
 ('andhra-pradesh', 220165),
 ('andhra-pradesh', 213275),
 ('andhra-pradesh', 206435),
 ('andhra-pradesh', 441662),
 ('andhra-pradesh', 423357),
 ('andhra-pradesh', 367619),
 ('andhra-pradesh', 355695),
 ('andhra-pradesh', 318300),
 ('andhra-pradesh', 277131),
 ('andhra-pradesh', 269798),
 ('andhra-pradesh', 250261),
 ('andhra-pradesh', 248725),
 ('andhra-pradesh', 248520),
 ('andhra-pradesh', 950821),
 ('andhra-pradesh', 922416),
 ('andhra-pradesh', 814616),
 ('andhra-pradesh', 684611),
 ('andhra-pradesh', 671661),
 ('andhra-pradesh', 609682),
 ('andhra-pradesh', 545426),
 ('andhra-pradesh', 527667),
 ('andhra-pradesh', 472914),
 ('andhra-pradesh', 460133),
 ('andhra-pradesh', 2602865),
 ('andhra-pradesh', 1828617),
 ('andhra-pradesh', 949187),
 ('andhra-pradesh', 839909),
 ('andhra-pradesh', 793798),
 ('andhra-pradesh', 760335),
 ('andhra-pradesh', 567306),
 ('andhra-pradesh', 520142),
 ('andhra-pradesh', 490697),
 ('andhra-pradesh', 480905),
 ('andhra-pradesh', 2944756),
 ('andhra-pradesh', 1905190),
 ('andhra-pradesh', 1434209),
 ('andhra-pradesh', 1196020),
 ('andhra-pradesh', 1060513),
 ('andhra-pradesh', 1003916),
 ('andhra-pradesh', 868052),
 ('andhra-pradesh', 858005),
 ('andhra-pradesh', 799271),
 ('andhra-pradesh', 711726),
 ('andhra-pradesh', 4185063),
 ('andhra-pradesh', 2544877),
 ('andhra-pradesh', 1920211),
 ('andhra-pradesh', 1591033),
 ('andhra-pradesh', 1438154),
 ('andhra-pradesh', 1406768),
 ('andhra-pradesh', 1324202),
 ('andhra-pradesh', 1202983),
 ('andhra-pradesh', 1131832),
 ('andhra-pradesh', 1084796),
 ('andhra-pradesh', 6695271),
 ('andhra-pradesh', 2196548),
 ('andhra-pradesh', 1661816),
 ('andhra-pradesh', 1554974),
 ('andhra-pradesh', 1346804),
 ('andhra-pradesh', 1159480),
 ('andhra-pradesh', 1125194),
 ('andhra-pradesh', 1104748),
 ('andhra-pradesh', 1098395),
 ('andhra-pradesh', 1058410),
 ('andhra-pradesh', 4994637),
 ('andhra-pradesh', 1708935),
 ('andhra-pradesh', 1575118),
 ('andhra-pradesh', 1553283),
 ('andhra-pradesh', 1067022),
 ('andhra-pradesh', 1066066),
 ('andhra-pradesh', 1026587),
 ('andhra-pradesh', 979822),
 ('andhra-pradesh', 963666),
 ('andhra-pradesh', 956641),
 ('andhra-pradesh', 5194663),
 ('andhra-pradesh', 4159532),
 ('andhra-pradesh', 2735691),
 ('andhra-pradesh', 2534360),
 ('andhra-pradesh', 2306174),
 ('andhra-pradesh', 2238996),
 ('andhra-pradesh', 1921871),
 ('andhra-pradesh', 1669413),
 ('andhra-pradesh', 1625687),
 ('andhra-pradesh', 1514873),
 ('andhra-pradesh', 5029692),
 ('andhra-pradesh', 4235146),
 ('andhra-pradesh', 4125544),
 ('andhra-pradesh', 3420778),
 ('andhra-pradesh', 3119905),
 ('andhra-pradesh', 2981818),
 ('andhra-pradesh', 2821800),
 ('andhra-pradesh', 2219953),
 ('andhra-pradesh', 2170458),
 ('andhra-pradesh', 2027751),
 ('andhra-pradesh', 7269657),
 ('andhra-pradesh', 5875319),
 ('andhra-pradesh', 4354325),
 ('andhra-pradesh', 3591058),
 ('andhra-pradesh', 3378549),
 ('andhra-pradesh', 3144495),
 ('andhra-pradesh', 2941623),
 ('andhra-pradesh', 2815993),
 ('andhra-pradesh', 2584588),
 ('andhra-pradesh', 2291676),
 ('andhra-pradesh', 11023032),
 ('andhra-pradesh', 7850540),
 ('andhra-pradesh', 5441708),
 ('andhra-pradesh', 4614209),
 ('andhra-pradesh', 3834825),
 ('andhra-pradesh', 3427039),
 ('andhra-pradesh', 3052771),
 ('andhra-pradesh', 2892664),
 ('andhra-pradesh', 2613562),
 ('andhra-pradesh', 2553688),
 ('andhra-pradesh', 10701326),
 ('andhra-pradesh', 9780096),
 ('andhra-pradesh', 5982442),
 ('andhra-pradesh', 5320101),
 ('andhra-pradesh', 4866065),
 ('andhra-pradesh', 4242875),
 ('andhra-pradesh', 4177023),
 ('andhra-pradesh', 4040160),
 ('andhra-pradesh', 3370675),
 ('andhra-pradesh', 3206301),
 ('andhra-pradesh', 14158439),
 ('andhra-pradesh', 10216678),
 ('andhra-pradesh', 7246667),
 ('andhra-pradesh', 5790910),
 ('andhra-pradesh', 5716025),
 ('andhra-pradesh', 5252680),
 ('andhra-pradesh', 4989759),
 ('andhra-pradesh', 4892740),
 ('andhra-pradesh', 4198904),
 ('andhra-pradesh', 4058071),
 ('andhra-pradesh', 16133298),
 ('andhra-pradesh', 10293117),
 ('andhra-pradesh', 8062447),
 ('andhra-pradesh', 6660899),
 ('andhra-pradesh', 6254668),
 ('andhra-pradesh', 5691035),
 ('andhra-pradesh', 5585462),
 ('andhra-pradesh', 5554647),
 ('andhra-pradesh', 4513789),
 ('andhra-pradesh', 4492155),
 ('andhra-pradesh', 18822839),
 ('andhra-pradesh', 12256092),
 ('andhra-pradesh', 9320394),
 ('andhra-pradesh', 7667416),
 ('andhra-pradesh', 7584902),
 ('andhra-pradesh', 6470271),
 ('andhra-pradesh', 6291639),
 ('andhra-pradesh', 6073875),
 ('andhra-pradesh', 5301338),
 ('andhra-pradesh', 4927880),
 ('andhra-pradesh', 10427710),
 ('andhra-pradesh', 9028550),
 ('andhra-pradesh', 7638906),
 ('andhra-pradesh', 6897466),
 ('andhra-pradesh', 6608575),
 ('andhra-pradesh', 6370783),
 ('andhra-pradesh', 6352195),
 ('andhra-pradesh', 6120942),
 ('andhra-pradesh', 5372903),
 ('andhra-pradesh', 5350632),
 ('andhra-pradesh', 10249750),
 ('andhra-pradesh', 9601016),
 ('andhra-pradesh', 8255182),
 ('andhra-pradesh', 6770365),
 ('andhra-pradesh', 6566772),
 ('andhra-pradesh', 6419773),
 ('andhra-pradesh', 5887349),
 ('andhra-pradesh', 5810257),
 ('andhra-pradesh', 5685286),
 ('andhra-pradesh', 5545373),
 ('andhra-pradesh', 15726677),
 ('andhra-pradesh', 14231038),
 ('andhra-pradesh', 11205270),
 ('andhra-pradesh', 11202633),
 ('andhra-pradesh', 9654796),
 ('andhra-pradesh', 8884834),
 ('andhra-pradesh', 8730141),
 ('andhra-pradesh', 8055364),
 ('andhra-pradesh', 7967416),
 ('andhra-pradesh', 7954047),
 ('andhra-pradesh', 17533692),
 ('andhra-pradesh', 16071649),
 ('andhra-pradesh', 12677134),
 ('andhra-pradesh', 12455688),
 ('andhra-pradesh', 10965771),
 ('andhra-pradesh', 9897206),
 ('andhra-pradesh', 9681752),
 ('andhra-pradesh', 9241075),
 ('andhra-pradesh', 9092492),
 ('andhra-pradesh', 8876516),
 ('andhra-pradesh', 19950308),
 ('andhra-pradesh', 18601251),
 ('andhra-pradesh', 14464077),
 ('andhra-pradesh', 14092751),
 ('andhra-pradesh', 12583902),
 ('andhra-pradesh', 11433335),
 ('andhra-pradesh', 11173043),
 ('andhra-pradesh', 10750550),
 ('andhra-pradesh', 10452102),
 ('andhra-pradesh', 10339712),
 ('andhra-pradesh', 20947807),
 ('andhra-pradesh', 19563362),
 ('andhra-pradesh', 15058936),
 ('andhra-pradesh', 14807835),
 ('andhra-pradesh', 13194498),
 ('andhra-pradesh', 12622748),
 ('andhra-pradesh', 12291648),
 ('andhra-pradesh', 11506163),
 ('andhra-pradesh', 11138627),
 ('andhra-pradesh', 10776659),
 ('arunachal-pradesh', 4253),
 ('arunachal-pradesh', 4207),
 ('arunachal-pradesh', 3286),
 ('arunachal-pradesh', 2704),
 ('arunachal-pradesh', 2114),
 ('arunachal-pradesh', 2112),
 ('arunachal-pradesh', 2097),
 ('arunachal-pradesh', 2041),
 ('arunachal-pradesh', 1955),
 ('arunachal-pradesh', 1865),
 ('arunachal-pradesh', 7878),
 ('arunachal-pradesh', 7239),
 ('arunachal-pradesh', 6046),
 ('arunachal-pradesh', 4689),
 ('arunachal-pradesh', 4436),
 ('arunachal-pradesh', 4342),
 ('arunachal-pradesh', 4159),
 ('arunachal-pradesh', 3885),
 ('arunachal-pradesh', 3638),
 ('arunachal-pradesh', 3486),
 ('arunachal-pradesh', 13489),
 ('arunachal-pradesh', 10508),
 ('arunachal-pradesh', 9777),
 ('arunachal-pradesh', 8636),
 ('arunachal-pradesh', 6870),
 ('arunachal-pradesh', 6672),
 ('arunachal-pradesh', 6434),
 ('arunachal-pradesh', 6307),
 ('arunachal-pradesh', 6191),
 ('arunachal-pradesh', 5120),
 ('arunachal-pradesh', 18305),
 ('arunachal-pradesh', 14891),
 ('arunachal-pradesh', 11990),
 ('arunachal-pradesh', 10791),
 ('arunachal-pradesh', 8743),
 ('arunachal-pradesh', 8727),
 ('arunachal-pradesh', 8156),
 ('arunachal-pradesh', 7660),
 ('arunachal-pradesh', 7520),
 ('arunachal-pradesh', 6597),
 ('arunachal-pradesh', 21769),
 ('arunachal-pradesh', 18706),
 ('arunachal-pradesh', 14504),
 ('arunachal-pradesh', 13724),
 ('arunachal-pradesh', 11691),
 ('arunachal-pradesh', 10893),
 ('arunachal-pradesh', 10231),
 ('arunachal-pradesh', 10190),
 ('arunachal-pradesh', 9575),
 ('arunachal-pradesh', 9149),
 ('arunachal-pradesh', 28827),
 ('arunachal-pradesh', 24040),
 ('arunachal-pradesh', 14906),
 ('arunachal-pradesh', 13929),
 ('arunachal-pradesh', 12970),
 ('arunachal-pradesh', 12562),
 ('arunachal-pradesh', 12214),
 ('arunachal-pradesh', 11232),
 ('arunachal-pradesh', 11076),
 ('arunachal-pradesh', 10926),
 ('arunachal-pradesh', 38560),
 ('arunachal-pradesh', 32844),
 ('arunachal-pradesh', 20744),
 ('arunachal-pradesh', 19591),
 ('arunachal-pradesh', 19201),
 ('arunachal-pradesh', 18759),
 ('arunachal-pradesh', 17253),
 ('arunachal-pradesh', 15882),
 ('arunachal-pradesh', 15645),
 ('arunachal-pradesh', 14867),
 ('arunachal-pradesh', 46210),
 ('arunachal-pradesh', 38960),
 ('arunachal-pradesh', 25720),
 ('arunachal-pradesh', 25493),
 ('arunachal-pradesh', 23418),
 ('arunachal-pradesh', 22297),
 ('arunachal-pradesh', 22263),
 ('arunachal-pradesh', 21777),
 ('arunachal-pradesh', 18262),
 ('arunachal-pradesh', 17833),
 ('arunachal-pradesh', 53858),
 ('arunachal-pradesh', 44651),
 ('arunachal-pradesh', 40087),
 ('arunachal-pradesh', 30846),
 ('arunachal-pradesh', 27462),
 ('arunachal-pradesh', 25027),
 ('arunachal-pradesh', 24414),
 ('arunachal-pradesh', 23370),
 ('arunachal-pradesh', 22588),
 ('arunachal-pradesh', 22374),
 ('arunachal-pradesh', 66660),
 ('arunachal-pradesh', 58840),
 ('arunachal-pradesh', 50996),
 ('arunachal-pradesh', 49710),
 ('arunachal-pradesh', 39797),
 ('arunachal-pradesh', 38760),
 ('arunachal-pradesh', 34466),
 ('arunachal-pradesh', 33392),
 ('arunachal-pradesh', 28051),
 ('arunachal-pradesh', 27329),
 ('arunachal-pradesh', 85276),
 ('arunachal-pradesh', 83578),
 ('arunachal-pradesh', 73373),
 ('arunachal-pradesh', 59485),
 ('arunachal-pradesh', 43165),
 ('arunachal-pradesh', 42704),
 ('arunachal-pradesh', 40143),
 ('arunachal-pradesh', 39931),
 ('arunachal-pradesh', 34849),
 ('arunachal-pradesh', 31126),
 ('arunachal-pradesh', 115682),
 ('arunachal-pradesh', 100879),
 ('arunachal-pradesh', 96702),
 ('arunachal-pradesh', 74774),
 ('arunachal-pradesh', 53234),
 ('arunachal-pradesh', 51950),

In [10]:
import pandas as pd

In [13]:
mycursor.execute("SELECT State, SUM(Transacion_count) AS total_transacion_count FROM agg_trans GROUP BY State")
result = mycursor.fetchall()
result1=pd.DataFrame(result,columns=['State','Transaction_count'])
result1.to_csv("state&Countlist.csv")